.stats-wrapper {
	padding-left: 5px;
	padding-right: 5px;
}
.stats {
	display: grid; 
	grid-template-rows: min-content auto; 
	padding: 10px;
	padding-left: 20px; 
	padding-right: 20px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .12);	
}
.stats-title {
	font-size: 1.4em;
}
.property-parameters {
	padding-top: 10px;
	display: grid;
	width: 100%;
	gap: 10px;
	font-size: 0.8em;
}
.property-parameter {
	align-items: center;
	white-space: nowrap;
	display: flex;
	gap: 3px;
	justify-content: space-between;
}
