.input-group-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	overflow: hidden;
}
.input-group {
    width: 40px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
}
.input-group::-webkit-inner-spin-button,
.input-group::-webkit-outer-spin-button {
    opacity: 1;
}