.pictures-wrapper {
	display: grid;
	height: calc(100% - 5px);
	overflow-y: scroll;
	padding-right: 5px;
	padding-left: 5px;
}
.pictures-wrapper::-webkit-scrollbar {
	width: 15px;
}
.pictures-wrapper::-webkit-scrollbar-thumb {
	border-left: 1px solid rgba(240, 240, 240, 1);
	border-right: 5px solid rgba(240, 240, 240, 1);
	background: rgba(30, 50, 96, 1);
}
.pictures {
	display: grid;
	grid-gap: 5px;
}
.pictures-box {
	border: 1px solid rgba(212, 212, 212, 1);
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .12);
	padding-right: 10px;
}
.pictures-item {
	display: grid;
	grid-template-columns: min-content min-content auto;
	font-size: 0.6em;
	cursor: pointer;
}