/* General Container Styles */
.listing-container {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.airbnb-listing {
	display: grid;
	grid-template-rows: min-content auto;
	background-color: rgba(241, 241, 242, 1);
	overflow: hidden;
}
.airbnb-images-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	padding-right: 20px;
	padding-left: 20px;
	overflow-y: scroll;
}
.airbnb-cancel-cross {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 13px;
	background-color: rgba(32, 32, 43, 0.8);
	border-radius: 50%;
	padding: 7px;
	cursor: pointer;
}
.airbnb-cancel-cross:hover {
	background-color: #ff385c;
}

/* Thumbnail Styles */
.listing-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}
.listing-thumbnail:hover {
    opacity: 0.9;
}
.acrc-link-wrapper {
	background-color: rgba(8, 18, 69, 1);
	padding: 10px;
	text-align: center;
}
.airbnb-link {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}
.airbnb-link:hover {
	color: rgba(255, 130, 48, 1);
}
.listing-content {
    padding: 10px;
    display: grid;
    grid-gap: 5px;
    overflow: hidden;
    font-size: 0.8em;
}
.title-wrapper {
    display: grid;
    grid-template-columns: auto min-content;
    grid-gap: 20px;
    align-items: center;
}

/* Title Styles */
.listing-title {
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
	.airbnb-images-wrapper {
		padding-left: 5px;
		padding-right: 5px;
	}
}