.anuncios-property-parameter {
	display: flex;
	gap: 5px;
}
.filters-wrapper {
	display: flex; 
	gap: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.filters-wrapper-wrapper {
	display: flex;
	justify-content: space-between;
	grid-gap: 5px;
	background-color: rgba(255, 255, 255, 1);
	padding: 10px;
	max-width: calc(100% - 38px);
}
@media screen and (max-width: 600px) {
	.filters-wrapper-wrapper {
		display: grid;
		grid-gap: 10px;
		max-width: 100%;
	}
	.filters-wrapper {
		display: flex; 
		justify-content: space-between;
	}
}