.right {
	display: grid;
	grid-template-rows: min-content min-content auto;
	color: rgba(66, 66, 66, 1);
	grid-gap: 10px;
	overflow: hidden;
}
.property-list-wrapper {
	padding-left: 5px;
	padding-right: 5px;
}