.right {
	display: grid;
	grid-template-rows: min-content min-content auto;
	color: rgba(66, 66, 66, 1);
	grid-gap: 10px;
	overflow: hidden;
}
.property-list-wrapper {
	padding-left: 5px;
	padding-right: 5px;
}
@media screen and (max-width: 1000px) {
	.right {
		grid-template-rows: min-content min-content min-content;
		overflow-y: scroll;
	}
}