.left {
	background-color: rgba(212, 212, 212, 1);
	display: grid; 
	justify-items: center; 
	padding-top: 15px;
}
@media screen and (max-width: 1000px) {
	.left {
		justify-items: start;
		padding-top: 5px;
		padding-left: 10px;
	}
}