.mapboxgl-ctrl-group {
  margin-right: 1px !important;
  box-shadow: none !important;
}
.mapboxgl-ctrl-compass {
  border: 0px solid rgba(0, 0, 0, 0) !important;
}
.mapboxgl-ctrl-zoom-out {
    border: 0px solid rgba(0, 0, 0, 0) !important;
}
.mapboxgl-ctrl-top-right {
  z-index: 5 !important;
}